* {
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    margin-top: 30px;
    font-family: verdana;
}
h2:last-of-type {
    margin: 0;
}
main {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}
section {
    display: flex;
    flex-direction: column;
    margin: 30px;
}
section div {
    flex-grow: 1;
}
section:nth-last-of-type(1) {
    width: 60%;
    margin-right: 0;
}
section:nth-last-of-type(2) {
    width: 30%;
}

.lg-box {
    width: 100%;
    height: 600px;
    background: orange;
    border: 3px solid black;
    margin-bottom: 30px;
}
.sm-box {
    width: 100%;
    height: 300px;
    background: orange;
    border: 3px solid black;
    margin-bottom: 30px

}
header {
    margin: 30px;
    margin-bottom: 0;
    display: flex;
}
header .sm-box {
    width: 150px;
    height: 300px;
    background: orange;
    border: 3px solid black;
    margin-bottom: 30px
}
header .flex-grow {
    flex-grow: 1;
    background: crimson;
}

